@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 5%;
    --foreground: 280 7% 90%;
    --card: 240 10% 10%;
    --card-foreground: 280 7% 95%;
    --popover: 240 10% 10%;
    --popover-foreground: 280 7% 95%;
    --primary: 280 100% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 250 15% 20%;
    --secondary-foreground: 280 7% 95%;
    --muted: 250 15% 25%;
    --muted-foreground: 280 7% 60%;
    --accent: 280 40% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 280 100% 30%;
    --radius: 0.7rem;
    --chart-1: 280 76% 50%;
    --chart-2: 260 58% 40%;
    --chart-3: 290 37% 30%;
    --chart-4: 270 74% 55%;
    --chart-5: 275 87% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@keyframes spinFade {
  0% {
    transform: scale(0.8) rotate(0deg);
    opacity: 0.4;
  }
  50% {
    transform: scale(1) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) rotate(360deg);
    opacity: 0.4;
  }
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #9c29c1;
  animation: spinFade 0.6s linear infinite;
}
